@import "@/styles/variable.scss";
#info {
    
}

#info /deep/ {
    background: #FFF;
    padding:10px 12px ;
    .van-swipe-item{
        padding-right: 20px;
        .swiper-img{
            width: 100%;
            height: 150px;
            border-radius: 8px;
        }
        &:last-child{
            padding-right: 0px;
        }
    }
    #info-card{
        padding: 20px 0;
        #phone-btn-box{
            background-image: linear-gradient(to right, #45d5b7 , #41c3b9);
            width: 40px;
            height: 40px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            right: 20px;
            bottom: 20px;
        }
        &-title{
            font-size: 20px;
            font-weight: bold;
            color: #333;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &-text,&-remarks{
            font-size: 14px;
            font-weight: bold;
            color: #333;
            margin: 5px 0;
        }
        &-price{
            padding-top: 5px;
            .price{
                color: #f47258;
                font-size: 24px;
                font-weight: 600;
                vertical-align: bottom;
            }
            .text{
                vertical-align: bottom;
                font-size: 12px;
                color: #666;
            }
        }
    }
    #container{
        width: 100%;
        height: 180px;
        border-radius: 8px;
    }
    #info-box{
        padding-top: 20px;
        &-title{
            padding: 10px 0;
            font-size: 18px;
            color: #333;
            font-weight: bold;
        }
        &-text{
            font-size: 12px;
            color: #999;
            .van-col{
                padding-bottom: 10px;
                .text{
                    padding-left: 5px;
                    color: #333;
                }
            }
            
        }
    }
    #remarks-box{
        padding: 20px 0 10px;
        font-size: 12px;
        color: #444;
        &-title{
            padding: 10px 0;
            font-size: 18px;
            color: #333;
            font-weight: bold;
        }
        .time-box{
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
        }
    }
}